<!DOCTYPE html>

<html lang="en">
<head>
  <title>The map!</title>

  <style>
    #mapid { /*the height and width of the map*/
      height: 350px;
      width: 350px;
      }
  </style>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/><!--Leaflet CSS file-->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script><!--Leaflet Javascript file-->
</head>

<body>
  <div id="mapid"></div> <!--The actual map element-->

  <h>Blue is the dart, yellow is the booster</h> <!--Label for the map-->

  <!--all of the user inputs. These will be handled by the backend in the final-->

  <div>Array: <input type="text" id="dataLocation"></input></div>
  <input type="button" value="Submit!" onclick="newData()"></input>
  <input type="button" value="Hide Person" onclick="hide_misc()"></button>
  <input type="button" value="Hide Blue" onclick="hide_blue_dart()"></button>
  <input type="button" value="Hide Yellow" onclick="hide_yellow_dart()"></button>
  <input type="button" value="Show ALL" onclick="show_all()"></button>
  <!--<button value="Toggle Dart Markers" onclick="toggleDart"></input>
  <button value="Toggle Booster Markers" onclick="toggleBooster"></input>-->

  <script>
    var rocketIcons = L.Icon.extend({
      options: {
      shadowUrl: 'static/shadow.png',
      iconSize:     [33, 45], // size of the icon
      shadowSize:   [44, 16], // size of the shadow
      iconAnchor:   [16, 45], // point of the icon which will correspond to marker's location
      shadowAnchor: [21, 10],  // the same for the shadow
      }
    });

    blueIcon = new rocketIcons({iconUrl:'static/blueMarker.png'}),
    yellowIcon = new rocketIcons({iconUrl:'static/yellowMarker.png'}),
    personIcon = new rocketIcons({iconUrl:'static/personMarker.png', iconAnchor: [16, 41]});
    //the actual icons, defines the picture url and moves the anchor for the person version
    //to make it fit

    var dartMarkers = [];
    var boosterMarkers = [];
    var miscMarkers = [];

    var masaMap = L.map('mapid').setView([32.9903796,-106.975041], 13); //creates the map, centered on
    //spaceport america

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
              }).addTo(masaMap); //The tileset for the map


    miscMarkers.push(L.marker([32.9903796,-106.975041], {icon:personIcon}));
    miscMarkers[0].addTo(masaMap); // should add the person icon to map

    dartMarkers.push(L.marker([32.94293,-106.915053], {icon:blueIcon}));
    dartMarkers[0].addTo(masaMap); //adds a rocket data point to the map

    boosterMarkers.push(L.marker([33.0000,-106.915053], {icon:yellowIcon}));
    boosterMarkers[0].addTo(masaMap);

    function hide_blue_dart() { //This functions hides the blue(dart)
      dartMarkers[0].remove(masaMap);//use remove(), instead of addTo, to remove a marker
    }
    function hide_yellow_dart() { //This functions hides the yellow marker(booster)
      boosterMarkers[0].remove(masaMap);
    }
    function hide_misc() { //This functions hides the person marker
      miscMarkers[0].remove(masaMap);
    }

    function show_all() {
      miscMarkers[0].addTo(masaMap);
      dartMarkers[0].addTo(masaMap);
      boosterMarkers[0].addTo(masaMap);
    }
    function decMinToDegDec(latOrlong) { //converts degrees decimal minutes (GPS output)
      //to degrees decimal (map input)
      var lInt = Number(document.getElementById("new" + latOrlong + "int").value);
      var lFloat = Number(document.getElementById("new" + latOrlong + "float").value);
      var lVar = document.getElementById("new" + latOrlong + "char").value;
      var l;

      l = lInt + (lFloat/60);

      l = l * (lVar == "S" || lVar == "W" ? -1 : 1); //makes the value negative
      //to indicate which side of the globe the point is on

      console.log(l);
      return l;
    }

  </script>
</body>

</html>
